apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: turbofan-models-pvc
  labels:
    app: turbofan-api
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi